# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite3

# Node / Frontend
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/
*.swp
*.swo
